/* CSS Document */
.input{
	padding:1px;
	margin:2px;
	}
.user{
  padding: 5px;
  width: 770px;
  border-radius: 2px;
}
.prayer {
  display:inline-block;
  padding: 10px;
  width: 770px;
  margin-left:5px;
  margin-right:5px;
  background-color: #F0F3F5;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-bottom:5px;

}

.prayers_box {
	padding:10px, 10px, 10px, 10px;
	width:800px;
	margin:0 auto;
	background-color:#FFFFFF;
	clear:both;
}
.prayers_form{
	padding:10px, 10px, 10px, 10px;
	width:800px;
	margin:0 auto;
	border-radius:2px;
	background-color:#FFFFFF;
	border-bottom-style:groove;
	}


textarea {
	width:100%;
	border-style: solid;
	border-color:#E3E3E3;
	border-width: 1px;
	color:#999;
	}
select {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-style:normal;
	font-size:13px;
	color:#999;
	border-style: solid;
	border-color:#E3E3E3;
	border-width: 1px;
	color:#999;
	margin:2px;

}
	
label {
display: block;
width: 100px;
float: left;
padding:1px;
}


body {
	background: url(../images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	/* [disabled]background-size: cover; */
	font-family: 'Roboto', sans-serif;
}

	
#Content {
	width:500px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	}

.title
{
	font-style:italic;
	color:#69C;
	width:500px;
	}
.divider {
	background-image:url(../images/divider.png);
	background-repeat:repeat-x;
	width:800px;
	}
	
.admin {
	width:500px;
	}


table {
  border-collapse: separate;
  background:#fff;
  @include border-radius(5px);
  margin:0px auto;
  @include box-shadow(0px 0px 5px rgba(0,0,0,0.3));
  width:800px;
  border-radius:2px;
}

thead {
  @include border-radius(5px);
}

thead th {
  font-family: 'Patua One', cursive;
  font-size:16px;
  font-weight:400;
  color:#fff;
  @include text-shadow(1px 1px 0px rgba(0,0,0,0.5));
  text-align:left;
  padding:10px;
  @include background-image(linear-gradient(#646f7f, #4a5564));
  border-top:1px solid #858d99;
  
  &:first-child {
   @include border-top-left-radius(5px); 
  }

  &:last-child {
    @include border-top-right-radius(5px); 
  }
}

tbody tr td {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  color:#5f6062;
  font-size:13px;
  padding:20px 20px 20px 20px;
  width:auto;
  
}

tbody tr:nth-child(2n) {
  background:#f0f3f5;
}

tbody tr:last-child td {
  border-bottom:none;
  }
 
tbody:hover > tr td {
  @include opacity(0.5);
  
 }
 
 .wrapper {
	margin: 0 auto;
	width: 500px;
	text-align: centre;
