/* CSS Document */

textarea {
	width:400px;
	border-style: solid;
	border-color:#E3E3E3;
	border-width: 1px;
	color:#999;
	}
select {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-style:normal;
	font-size:13px;
	color:#999;
	border-style: solid;
	border-color:#E3E3E3;
	border-width: 1px;
	color:#999;

}
	
label {
display: block;
width: 100px;
float: left;
}

body {
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-style:normal;
	font-size:13px;
	color:#999;
}
	
#Content {
	width:500px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px dashed #333;
	background-color:#eee;
	}
.prayer {
	padding:15px;
}

.title
{
	font-style:italic;
	color:#69C;
	width:500px;
	}
.divider {
	background-image:url(images/divider.png);
	background-repeat:repeat-x;
	width:800px;
	}
	
.admin {
	width:500px;
	}
.admin td{
	color:#69C;
	border:1px solid;
	}